streamlit
pandas
gspread
google-auth
python-docx
pymupdf
pillow
streamlit-js-eval
deep-translator
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-api-python-client
streamlit-drawable-canvas
