deep-translator
google-auth-httplib2
google-auth-oauthlib
# =========================
# Core
# =========================
python-docx
pandas
pillow
# =========================
# Google / Sheets / Auth
# =========================
gspread
google-auth
google-api-python-client
# =========================
# Streamlit (Canvas Compatible)
# =========================
streamlit
streamlit-drawable-canvas
streamlit-js-eval
